integrated_project_for_testing/backend/.idea/
integrated_project_for_testing/backend/target/
integrated_project_for_testing/backend/.env
intro-test-automation-framework/.idea/
intro-test-automation-framework/target/
intro-to-bdd-test-automation-framework/.idea/
intro-to-bdd-test-automation-framework/target/
intro-to-bdd-test-automation-framework/.env
test-automation-framework/.idea/
test-automation-framework/target/